<footer class="footer py-4 bg-dark text-white">
    <div class="container text-center">
        <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
        <div>
            <a href="https://www.instagram.com/turtleshelterproject/?hl=en" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/turtleshelterproject/" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</footer>

