<footer class="footer py-4 bg-dark text-white">
    <div class="container text-center">
        <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
        <div>
            <a href="https://twitter.com" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://linkedin.com" class="text-white mx-2"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>
