
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <header class="masthead">
        <div class="container">
            <h1>Welcome to the Turtle Shelter Project!</h1>
            <p>Empowering change through community service.</p>
            <a href="/volunteer" class="btn btn-primary">Join Us</a>
        </div>
    </header>
    <%- include('partials/footer') %>
</body>
</html>
